<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Moxo-Tech-Server</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.moxo.servlet.InitServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/MoxoClass/InitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.moxo.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/MoxoClass/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ClassListServlet</display-name>
    <servlet-name>ClassListServlet</servlet-name>
    <servlet-class>com.moxo.servlet.ClassListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassListServlet</servlet-name>
    <url-pattern>/MoxoClass/ClassListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MemberListServlet</display-name>
    <servlet-name>MemberListServlet</servlet-name>
    <servlet-class>com.moxo.servlet.MemberListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberListServlet</servlet-name>
    <url-pattern>/MoxoClass/MemberListServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <display-name>DelClassServlet</display-name>
    <servlet-name>DelClassServlet</servlet-name>
    <servlet-class>com.moxo.servlet.DelClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelClassServlet</servlet-name>
    <url-pattern>/MoxoClass/DelClassServlet</url-pattern>
  </servlet-mapping>
  
</web-app>